Repository andrearoota/SoftwareEngineeringProject, pull requests merged in 2023-02, with the labels that each got.

#30 Camilla documentation
  documentation/Engineering requirements/Requirements.md
  documentation/Engineering requirements/moscow.png
  documentation/Software Quality/SoftwareQuality.md
Labels: documentation

#32 Conformità Class Diagram
  backend/app/Http/Controllers/User/UserAdmin.php
Labels: Backend

#41 Logout function delete cookies session
  frontend/src/App.jsx
Labels: bug, Frontend

#40 18 prelievo fondi
  backend/app/Http/Controllers/User/UserBase.php
  backend/tests/Feature/UserApiTest.php
  frontend/src/App.jsx
  frontend/src/pages/MoneyPage.jsx
Labels: enhancement, Frontend, Backend
