Repository andrearoota/SoftwareEngineeringProject, pull requests merged in 2023-01, with the labels that each got.

#11 Implementazione Stocks e Admin/User
  backend/.env.example
  backend/app/Console/Kernel.php
  backend/app/Http/Controllers/Stocks/StocksController.php
  backend/app/Http/Controllers/Stocks/StocksSchedule.php
  backend/app/Http/Controllers/Stocks/StocksScheduleInterface.php
  backend/app/Http/Controllers/User/UserAbstract.php
  backend/app/Http/Controllers/User/UserAdmin.php
  backend/app/Http/Controllers/User/UserAuthInterface.php
  backend/app/Http/Controllers/User/UserBase.php
  backend/app/Http/Kernel.php
  backend/app/Http/Middleware/onlyAdminAPI.php
  backend/app/Models/Stocks.php
  backend/app/Models/User.php
  backend/database/factories/StocksFactory.php
  backend/database/factories/UserFactory.php
  backend/database/migrations/2022_12_27_154740_users.php
  backend/database/migrations/2023_01_02_212823_create_stocks_table.php
  backend/database/seeders/DatabaseSeeder.php
  backend/routes/api.php
  install_project.sh
Labels: enhancement, Backend

#13 Aggiunta e miglioramento API
  backend/app/Http/Controllers/User/UserBase.php
  backend/composer.json
  backend/composer.lock
  backend/routes/api.php
Labels: enhancement, Backend

#14 Minor bugfix
  backend/app/Http/Controllers/User/UserAbstract.php
  backend/app/Http/Controllers/User/UserAdmin.php
  backend/app/Http/Controllers/User/UserBase.php
  backend/composer.lock
Labels: Backend

#17 Implement test and minor bugfix
  backend/app/Http/Controllers/User/UserAbstract.php
  backend/app/Http/Controllers/User/UserAdmin.php
  backend/app/Http/Controllers/User/UserBase.php
  backend/config/database.php
  backend/database/seeders/DatabaseSeeder.php
  backend/docker-compose.yml
  backend/routes/api.php
  backend/tests/Feature/AdminApiTest.php
  backend/tests/Feature/AuthTest.php
  backend/tests/Feature/ExampleTest.php
  backend/tests/Feature/UserApiTest.php
  backend/tests/TestCase.php
Labels: bug, enhancement, Backend

#23 Api documentation
  documentation/api/Admin.md
  documentation/api/Auth.md
  documentation/api/Users.md
Labels: documentation

#27 Attivazione di XDebug
  backend/.env.example
Labels: enhancement, Backend
